*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
/* to add the scrolling from menu options */
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(25, 30, 36);
    color: white;   
}

#header{
    width: 100vw;
    height: 100vh;
}

/* Home page container */
.container{
    width: 100vw;
    height: 100vh;
    padding: 2% 5%;
}

/* navigation bar */
nav{
    display: flex; 
    height: 10%;
}

.logo{
    flex-basis: 55%;
    font-size: 2rem;
    padding: 1%;
}
.logo span{
    color: orange;
}

nav ul {
    display: flex;
    gap: 3rem; /* consistent and responsive spacing */
    list-style: none;
    align-items: center;
}

nav ul li a{
    /* menu text color */
    color: white;
    /* to remove the underline from the menu */
    text-decoration: none; 
    /* menu text size */
    font-size: 1.2em;
    position: relative;
}
/* to add the hoveing underline effect on menu */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* hovering ends  */

/* Adjusting home page text */
.header-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-text{
    flex-basis: 40%;
    margin-top: 10%;
    font-size: 2em;
}

.header-text h1{
    font-size: 1.5em;
}

.header-text h1 span{
    color: orange;
}

.header-image{
    flex-basis: 50%;
}
.header-image .image1{
    max-width: 80%;
    height: 80%;
    padding: 5px;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 20px;
    border: 2px solid orange;
    animation: border-color-cycle 3s linear infinite;

}

@keyframes border-color-cycle {
    0% { border-color: rgb(241, 11, 146); }
    25% { border-color: rgb(14, 121, 251); }
    50% { border-color: rgb(8, 185, 70); }
    75% { border-color: yellow; }
    100% { border-color: rgb(211, 126, 14); } 
} 


/* -------------------------About Section----------------------------- */
#about{
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 57, 69);
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}
/* to adjust the image */
.about-col-1 .image-2 {
    width: 80%;                       
    height: auto;  
    margin-top: 50px;             
    border-radius: 20px;        /* Rounds the corners */
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 35px;
    margin-bottom: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p{
    font-size: 25px;
}

.tab-links{
    margin-right: 80px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
/* to add the hovering effect on tab-links */
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}
/* to set the tab contents */
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-content ul li span{
    color: orange;
    font-size: 14px;
}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

/*------------------------------ Portfolio ----------------------------*/

#portfolio{
    width: 100vw;
    height: 100vh;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s ;
}

.layer{
    color: #fff;
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),orange);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: orange;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid orange;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    transition: background 0.5s
}

.btn:hover{
    background:orange
}

/* ---------------------------Contact---------------------------- */
#contact{
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 57, 69);
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.subtitle{
    align-items: center;
    margin: 20px 30px 30px 30px;
}
.contact-left p{
    align-items: center;
    margin: 10px 100px;
}

.contact-left p i{
    color: orange;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{ 
    margin-top: 30px;
    text-align: center;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 25px;
    color: rgb(245, 245, 243);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: orange;
    transform: translateY(-5px);
}

.copyright{
    text-align: center;
    padding: 25px 0;
    background: #262626;
    margin-top: 110px;
    color: white;
    justify-content: center;
    border-radius: 30px;
}

.copyright span{
    color: orange;
}
/* CSS for small screen */
